# Ejercicio 1 y 2
primer intento con pandas (muy lento)

In [1]:
import pandas as pd
import numpy as np
import bz2

In [2]:
path_to_bookings = '/home/dsc/Data/challenge/bookings.csv.bz2'
path_to_searches = '/home/dsc/Data/challenge/bookings.csv.bz2'
!bzcat {path_to_bookings} | head

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^SALATLCLT      ^NV^L        ^Y        ^2013-04-12 13:04:00^2013-04-12 22:05:40^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^CLTATLSAL      ^NV^U        ^Y        ^2013-07-15 07:00:00^2013-07-15 11:34:51^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^AKLHKGSVO      ^XK^G        ^Y        ^2013-04-24 23:59:00^2013-04-25 16:06:31^1^2013^3^SYDA82546
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^SVOHKGAKL      ^XK^G        ^Y        ^2013-05-14 20:15:00^2013-05-16 10:44:50^1^2013^3^SYDA82546
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^DENLGA         ^FK^W        ^Y        ^2013-04-07 10:23:00^2013-04-07 16:14:24^1^2013^3^NULL
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^LGADEN         ^FK^K        ^Y        ^2013-04-11 11:15:00^2013-04-11 13:06:24^1^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^NRTSIN  ^SINTYO  ^JPSG    ^1^NRTSIN         ^XR^Q        ^Y        ^2013-04-14 11:05:00^2013-04-14 17:10:56^2^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^PEN     ^PEN     ^MY      ^PENSIN  ^PENSIN  ^MYSG    ^1^SINPEN         ^WS^Y        ^Y        ^2013-04-16 15:45:00^2013-04-16 17:15:29^2^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [3]:
!bzcat {path_to_bookings} | wc -l

10000011

In [4]:
!bzcat {path_to_searches} | wc -l

10000011

In [5]:
bookings_csv = pd.read_csv (path_to_bookings, sep = '^', compression = 'bz2', usecols = ['arr_port', 'pax', 'year'])
bookings_csv = bookings_csv.dropna ()
bookings_csv_2013 = bookings_csv [bookings_csv['year'] == 2013]
bookings_csv_2013.sample(5)

         arr_port  pax    year
4515941  SCL      -2.0  2013.0
5611707  DCA       1.0  2013.0
5725849  DXB       2.0  2013.0
5675680  FRA       2.0  2013.0
7735084  DPS       2.0  2013.0

In [6]:
bookings_csv_2013.shape

(10000009, 3)

In [22]:
bookings_csv_2013 = bookings_csv_2013.drop (['year']!=2013)
bookings_csv_2013.sample(5)

         arr_port  pax
2137513  BOM       1.0
6111615  JNB      -1.0
8301204  CMB      -1.0
5261353  TXL      -2.0
4778671  LAS      -1.0

In [25]:
bookings_csv_top10 = bookings_csv_2013.groupby ('arr_port').sum().sort(columns = 'pax', ascending = False).head(10)
bookings_csv_top10

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

# He instalado GeoBases y ahora pruebo a obtener nombres de las ciudades
link: https://github.com/opentraveldata/geobases
en consola:
$ git clone https://github.com/opentraveldata/geobases.git
$ cd geobases
$ python setup.py install
export PATH=$PATH:$HOME/.local/bin
export BACKGROUND_COLOR=black

In [9]:
from GeoBases import GeoBase
geo_o = GeoBase(data='ori_por', verbose=False)
geo_a = GeoBase(data='airports', verbose=False)
geo_t = GeoBase(data='stations', verbose=False)

In [10]:
geo_o.get ('LHR', 'name')

'London Heathrow Airport'

In [27]:
bookings_csv_top10.append ([(geo_o.get ('LHR', 'name'), geo_o.get('MCO', 'name'))])

                                0                              1      pax
LHR                           NaN                            NaN  88809.0
MCO                           NaN                            NaN  70930.0
LAX                           NaN                            NaN  70530.0
LAS                           NaN                            NaN  69630.0
JFK                           NaN                            NaN  66270.0
CDG                           NaN                            NaN  64490.0
BKK                           NaN                            NaN  59460.0
MIA                           NaN                            NaN  58150.0
SFO                           NaN                            NaN  58000.0
DXB                           NaN                            NaN  55590.0
0         London Heathrow Airport  Orlando International Airport      NaN

# links para añadir columna con función
http://stackoverflow.com/questions/35424567/python-pandas-add-column-based-on-other-column
http://stackoverflow.com/questions/20602947/append-column-to-pandas-dataframe

In [43]:
airports_names = pd.DataFrame ({'airports_names': [geo_o.get ('LHR', 'name'),
                                                   geo_o.get('MCO', 'name'),
                                                   geo_o.get('LAX', 'name'),
                                                   geo_o.get('LAS', 'name'),
                                                   geo_o.get('JFK', 'name'),
                                                   geo_o.get('CDG', 'name'),
                                                   geo_o.get('BKK', 'name'),
                                                   geo_o.get('MIA', 'name'),
                                                   geo_o.get('SFO', 'name'),
                                                   geo_o.get('DXB', 'name')]})
print (airports_names)

                         airports_names
0               London Heathrow Airport
1         Orlando International Airport
2     Los Angeles International Airport
3       Mc Carran International Airport
4  John F Kennedy International Airport
5             Paris - Charles-de-Gaulle
6                          Suvarnabhumi
7           Miami International Airport
8   San Francisco International Airport
9           Dubai International Airport

In [42]:
list = [geo_o.get ('LHR', 'name'), 'yo']
print (list)

['London Heathrow Airport', 'yo']

In [44]:
bookings_csv_top10 = pd.concat ([bookings_csv_top10, airports_names], axis = 1)
print (bookings_csv_top10)

              pax                        airports_names
0             NaN               London Heathrow Airport
1             NaN         Orlando International Airport
2             NaN     Los Angeles International Airport
3             NaN       Mc Carran International Airport
4             NaN  John F Kennedy International Airport
5             NaN             Paris - Charles-de-Gaulle
6             NaN                          Suvarnabhumi
7             NaN           Miami International Airport
8             NaN   San Francisco International Airport
9             NaN           Dubai International Airport
BKK       59460.0                                   NaN
CDG       64490.0                                   NaN
DXB       55590.0                                   NaN
JFK       66270.0                                   NaN
LAS       69630.0                                   NaN
LAX       70530.0                                   NaN
LHR       88809.0                                   NaN
MCO       70930.0                                   NaN
MIA       58150.0                                   NaN
SFO       58000.0                                   NaN

In [45]:
new_df = bookings_csv_top10.assign (airp = lambda (arr_port, 'name') :geo_o.get (arr_port, 'name'))
print (new_df)

SyntaxError: invalid syntax (<ipython-input-45-46277932adea>, line 1)

In [ ]:
!bzcat {path_to_searches} | head

In [49]:
searches_csv = pd.read_csv (path_to_searches, sep = '^', compression = 'bz2')
searches_csv = searches_csv.dropna ()

MemoryError:

In [ ]:
searches_csv.dtypes