# ejercicio 4

In [1]:
cd ~/Data/challenge/

/home/dsc/Data/challenge

### en este ejercicio es muy importante localizar los dupicados y drop duplicated

### vamos a generar 2 archivos para bookings y searches en formato csv y luego a .bz2

In [2]:
import pandas as pd

In [3]:
bc = pd.read_csv ('bookings.csv.bz2', sep ='^', chunksize = 300000, low_memory = False)

In [6]:
bc = pd.read_csv ('bookings.csv.bz2', sep ='^', chunksize = 300000, low_memory = False)
all_chunks = pd.DataFrame()
for i, chunk in enumerate (bc):
    all_chunks=all_chunks.append (chunk)
    all_chunks= all_chunks.drop_duplicates()
    print "Chunk %d, keeping %d lines" % ((i+1), len (all_chunks))

Chunk 1, keeping 300000 lines
Chunk 2, keeping 600000 lines
Chunk 3, keeping 900000 lines
Chunk 4, keeping 1000000 lines
Chunk 5, keeping 1000000 lines
Chunk 6, keeping 1000000 lines
Chunk 7, keeping 1000000 lines
Chunk 8, keeping 1000000 lines
Chunk 9, keeping 1000000 lines
Chunk 10, keeping 1000000 lines
Chunk 11, keeping 1000000 lines
Chunk 12, keeping 1000000 lines
Chunk 13, keeping 1000000 lines
Chunk 14, keeping 1000000 lines
Chunk 15, keeping 1000000 lines
Chunk 16, keeping 1000000 lines
Chunk 17, keeping 1299993 lines
Chunk 18, keeping 1299993 lines
Chunk 19, keeping 1299993 lines
Chunk 20, keeping 1299993 lines
Chunk 21, keeping 1299993 lines
Chunk 22, keeping 1299993 lines
Chunk 23, keeping 1299993 lines
Chunk 24, keeping 1299993 lines
Chunk 25, keeping 1299993 lines
Chunk 26, keeping 1299993 lines
Chunk 27, keeping 1299993 lines
Chunk 28, keeping 1299993 lines
Chunk 29, keeping 1299993 lines
Chunk 30, keeping 1299993 lines
Chunk 31, keeping 1299993 lines
Chunk 32, keeping 1299993 lines
Chunk 33, keeping 1299993 lines
Chunk 34, keeping 1299993 lines

In [7]:
all_chunks.to_csv ('bookings.no_dup.csv', sep = '^', index = False)
!bzip2 -f bookings.no_dup.csv

In [9]:
!ls -l

total 1089832
-rw-rw-r-- 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc  72211641 May 20 12:45 bookings.no_dup.csv.bz2
-rw-rw-r-- 1 dsc dsc     54834 May 19 17:40 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    425006 May 19 17:45 bookings.sample.csv.csv
-rw-rw-r-- 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r-- 1 dsc dsc   4811806 May 20 10:50 searches.sample2.csv.bz2
-rw-rw-r-- 1 dsc dsc     29366 May 20 10:46 searches.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    181739 May 19 17:45 searches.sample.csv.csv
-rw-rw-r-- 1 dsc dsc     84696 May 19 20:56 top_10_airports.csv

In [8]:
sc = pd.read_csv ('searches.csv.bz2', sep ='^', chunksize = 300000, low_memory = False)
all_chunks = pd.DataFrame()
for i, chunk in enumerate (sc):
    all_chunks=all_chunks.append (chunk)
    all_chunks= all_chunks.drop_duplicates()
    print "Chunk %d, keeping %d lines" % ((i+1), len (all_chunks))

Chunk 1, keeping 299999 lines
Chunk 2, keeping 358999 lines
Chunk 3, keeping 358999 lines
Chunk 4, keeping 358999 lines
Chunk 5, keeping 658992 lines
Chunk 6, keeping 718002 lines
Chunk 7, keeping 718002 lines
Chunk 8, keeping 718002 lines
Chunk 9, keeping 718002 lines
Chunk 10, keeping 718002 lines
Chunk 11, keeping 718002 lines
Chunk 12, keeping 718002 lines
Chunk 13, keeping 718002 lines
Chunk 14, keeping 718002 lines
Chunk 15, keeping 718002 lines
Chunk 16, keeping 718002 lines
Chunk 17, keeping 718002 lines
Chunk 18, keeping 718002 lines
Chunk 19, keeping 718002 lines
Chunk 20, keeping 718002 lines
Chunk 21, keeping 718002 lines
Chunk 22, keeping 718002 lines
Chunk 23, keeping 718002 lines
Chunk 24, keeping 718002 lines
Chunk 25, keeping 718002 lines
Chunk 26, keeping 718002 lines
Chunk 27, keeping 718002 lines
Chunk 28, keeping 718002 lines
Chunk 29, keeping 718002 lines
Chunk 30, keeping 718002 lines
Chunk 31, keeping 718002 lines
Chunk 32, keeping 718002 lines
Chunk 33, keeping 718002 lines
Chunk 34, keeping 718002 lines
Chunk 35, keeping 718002 lines
Chunk 36, keeping 718002 lines
Chunk 37, keeping 718002 lines
Chunk 38, keeping 718002 lines
Chunk 39, keeping 718002 lines
Chunk 40, keeping 718002 lines
Chunk 41, keeping 718002 lines
Chunk 42, keeping 718002 lines
Chunk 43, keeping 718002 lines
Chunk 44, keeping 718002 lines
Chunk 45, keeping 718002 lines
Chunk 46, keeping 718002 lines
Chunk 47, keeping 718002 lines
Chunk 48, keeping 718002 lines
Chunk 49, keeping 718002 lines
Chunk 50, keeping 718002 lines
Chunk 51, keeping 718002 lines
Chunk 52, keeping 718002 lines
Chunk 53, keeping 718002 lines
Chunk 54, keeping 718002 lines
Chunk 55, keeping 718002 lines
Chunk 56, keeping 718002 lines
Chunk 57, keeping 718002 lines
Chunk 58, keeping 718002 lines
Chunk 59, keeping 718002 lines
Chunk 60, keeping 718002 lines
Chunk 61, keeping 718002 lines
Chunk 62, keeping 718002 lines
Chunk 63, keeping 718002 lines
Chunk 64, keeping 718002 lines
Chunk 65, keeping 718002 lines
Chunk 66, keeping 718002 lines
Chunk 67, keeping 718002 lines
Chunk 68, keeping 718003 lines

In [10]:
all_chunks.to_csv ('searches.no_dup.csv', sep = '^', index = False)
!bzip2 -f searches.no_dup.csv

In [11]:
!ls -l

total 1106544
-rw-rw-r-- 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc  72211641 May 20 12:45 bookings.no_dup.csv.bz2
-rw-rw-r-- 1 dsc dsc     54834 May 19 17:40 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    425006 May 19 17:45 bookings.sample.csv.csv
-rw-rw-r-- 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r-- 1 dsc dsc  17112287 May 20 12:55 searches.no_dup.csv.bz2
-rw-rw-r-- 1 dsc dsc   4811806 May 20 10:50 searches.sample2.csv.bz2
-rw-rw-r-- 1 dsc dsc     29366 May 20 10:46 searches.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    181739 May 19 17:45 searches.sample.csv.csv
-rw-rw-r-- 1 dsc dsc     84696 May 19 20:56 top_10_airports.csv

### plan a seguir:

1. columnas a utilizar
    1. bookings: vamos a usar [act_date, dep_port, arr_port]
    2. searches: vamos a usar [search_date, origin, destination]
2. pasar dates de string a datetime object
3. borrar los espacios en blanco (from column names and content)
4. quitar los NaN
5. vamos a hacer un merge con bookings y searches ->put l if search_date , O&D == booking_date, =Ob&D

### reset para borrar lo que hemos hecho y dejar memoria limpia

In [12]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [13]:
import pandas as pd

In [14]:
b=pd.read_csv ('bookings.no_dup.csv.bz2', sep = '^', nrows=100)

In [15]:
b.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [16]:
b=pd.read_csv ('bookings.no_dup.csv.bz2', sep = '^',\
               usecols = ['act_date           ', 'dep_port', 'arr_port'])

In [17]:
s=pd.read_csv ('searches.no_dup.csv.bz2', sep = '^',\
               usecols = ['Date', 'Origin', 'Destination'])

### vemos cómo están los datos en los frames para ver si podemos hacer el merge, problema de espacios

#### lo solucionamos con strip en 'arr_port' y 'dep_port'

In [20]:
b.iloc[0].tolist()

['2013-03-05 00:00:00', 'ZRH     ', 'LHR     ']

In [21]:
s.iloc[0].tolist()

['2013-01-01', 'TXL', 'AUH']

In [23]:
b.iloc[0]['arr_port'].strip()

'LHR'

### forma alternativa a la de abajo:
b['arr_port'] = b ['arr_port'].str.strip()

In [24]:
b['arr_port'] = b ['arr_port'].map(lambda x: str(x).strip())

In [25]:
b['dep_port'] = b ['dep_port'].map(lambda x: str(x).strip())

In [26]:
b.iloc[0].tolist()

['2013-03-05 00:00:00', 'ZRH', 'LHR']

### con el siguiente paso se quitan los espacios de todas las columnas

In [27]:
b.columns=b.columns.str.strip()

In [28]:
b.columns.tolist()

['act_date', 'dep_port', 'arr_port']

In [29]:
b['act_date']=b['act_date'].str[0:10]

### ya están preparados para hacer el join

In [30]:
b.iloc[0].tolist()

['2013-03-05', 'ZRH', 'LHR']

In [31]:
s.iloc[0].tolist()

['2013-01-01', 'TXL', 'AUH']

In [32]:
b=pd.read_csv ('bookings.no_dup.csv.bz2', sep = '^',\
               usecols = ['act_date           ', 'dep_port', 'arr_port']) 

s=pd.read_csv ('searches.no_dup.csv.bz2', sep = '^',\
               usecols = ['Date', 'Origin', 'Destination']) 
b['arr_port'] = b ['arr_port'].str.strip()
b['dep_port'] = b ['dep_port'].str.strip()
b.columns=b.columns.str.strip()
b['act_date']=b['act_date'].str[0:10]

print "before drop b=%d, s=%d" % (len(b), len(s))
b=b.dropna()
s=s.dropna()
print "after drop b=%d, s=%d" % (len(b), len(s))

before drop b=1299993, s=718003
after drop b=1299993, s=718002

### puede haber duplicados porque el drop duplicate lo hicimos sobre el registro completo y al haber seleccionado estas columnas debemos comprobar. hacemos groupby

In [37]:
b_gr = b.reset_index().groupby(['dep_port', 'arr_port', 'act_date']).count().reset_index()

In [38]:
b_gr.head()

  dep_port arr_port    act_date  index
0      AAB      ROV  2013-05-29      2
1      AAB      ROV  2013-08-24      2
2      AAE      ALG  2013-01-07      1
3      AAE      ALG  2013-01-08      2
4      AAE      ALG  2013-01-09      6

In [40]:
s_with_index= s.reset_index()

In [41]:
s_with_index.tail()

         index        Date Origin Destination
717997  717998  2013-05-03    CPH         AYT
717998  717999  2013-05-03    NYC         YTO
717999  718000  2013-05-03    TRF         TRD
718000  718001  2013-05-03    IAH         RDU
718001  718002  2013-10-13    VIE          HA

### hacemos merge

In [42]:
s_with_b = s_with_index.merge(b_gr,
                             how='left',
                             left_on=['Date', 'Origin', 'Destination'],
                             right_on = ['act_date', 'dep_port', 'arr_port'])

###  comprobamos len, no hay duplicados porque el tamaño no se ha cambiado. si fueran distintas habría que eliminar duplicados para poder hacer el merge

In [43]:
len (s_with_index)

718002

In [44]:
len (s_with_b)

718002

In [45]:
s_with_b.head()

   index_x        Date Origin Destination dep_port arr_port act_date  index_y
0        0  2013-01-01    TXL         AUH      NaN      NaN      NaN      NaN
1        1  2013-01-01    ATH         MIL      NaN      NaN      NaN      NaN
2        2  2013-01-01    ICT         SFO      NaN      NaN      NaN      NaN
3        3  2013-01-01    RNB         ARN      NaN      NaN      NaN      NaN
4        4  2013-01-01    OSL         MAD      NaN      NaN      NaN      NaN

In [46]:
s_with_b[s_with_b['index_y']>0].head()

,index_x,Date,Origin,Destination,dep_port,arr_port,act_date,index_y
23,23,2013-01-01,DUS,IST,DUS,IST,2013-01-01,1.0
27,27,2013-01-01,RUH,JED,RUH,JED,2013-01-01,17.0
40,40,2013-01-01,DMM,MNL,DMM,MNL,2013-01-01,1.0
59,59,2013-01-01,ATL,MIA,ATL,MIA,2013-01-01,4.0
94,94,2013-01-01,DXB,KUL,DXB,KUL,2013-01-01,1.0

In [47]:
s_file=pd.read_csv ('searches.no_dup.csv.bz2', sep = '^', low_memory=False)

In [48]:
result=s_file.merge(s_with_b,
                   how='left',
                   left_index =True,
                   right_on ='index_x')

In [49]:
result.tail()

,Date_x,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,TerminalID,InternetOffice,index_x,Date_y,Origin_y,Destination_y,dep_port,arr_port,act_date,index_y
717997,2013-05-03,10:28:25,MPT,01a4373dc0878961ab038a4089f8d4a7,DK,CPH,AYT,1.0,2.0,CPH,...,d41d8cd98f00b204e9800998ecf8427e,CPH,717998,2013-05-03,CPH,AYT,NaN,NaN,NaN,NaN
717998,2013-05-03,15:00:52,MPT,4e93208c7efe7d16455c6a887367cdbd,US,NYC,YTO,0.0,1.0,NYC,...,d41d8cd98f00b204e9800998ecf8427e,DCA,717999,2013-05-03,NYC,YTO,NaN,NaN,NaN,NaN
717999,2013-05-03,00:40:36,FXP,439c0bb10ec8b58c68da567c40399a05,NO,TRF,TRD,0.0,1.0,TRF,...,d41d8cd98f00b204e9800998ecf8427e,OSL,718000,2013-05-03,TRF,TRD,NaN,NaN,NaN,NaN
718000,2013-05-03,21:10:30,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,RDU,1.0,2.0,IAH,...,d41d8cd98f00b204e9800998ecf8427e,NYC,718001,2013-05-03,IAH,RDU,NaN,NaN,NaN,NaN
718001,2013-10-13,18:57:54,MTP,e41c9d833aa74600552f2ed688b67d81,AT,VIE,HA,NaN,NaN,NaN,...,NaN,NaN,718002,2013-10-13,VIE,HA,NaN,NaN,NaN,NaN

In [50]:
result['Booked']= result ['index_y'].fillna(0).map(lambda x:1 if x>0 else 0)

In [51]:
result.sample(10)

,Date_x,Time,TxnCode,OfficeID,Country,Origin_x,Destination_x,RoundTrip,NbSegments,Seg1Departure,...,InternetOffice,index_x,Date_y,Origin_y,Destination_y,dep_port,arr_port,act_date,index_y,Booked
510739,2013-10-02,13:15:35,FCP,8d2a1e767a6c0231e998716660848886,CA,YYZ,YWG,0.0,1.0,YYZ,...,0,510739,2013-10-02,YYZ,YWG,NaN,NaN,NaN,NaN,0
526431,2013-10-18,11:39:35,MPT,bb987c07ddab11ce0667eeaef6ef0901,US,NYC,TPE,1.0,2.0,NYC,...,0,526431,2013-10-18,NYC,TPE,NaN,NaN,NaN,NaN,0
454985,2013-08-07,00:43:16,MPT,9aa4c769608174fd5561f314ae59221c,SE,STO,OSL,0.0,1.0,STO,...,0,454985,2013-08-07,STO,OSL,NaN,NaN,NaN,NaN,0
477859,2013-08-30,16:46:14,FXR,332cb979bed26bea9f1e5a17d9623b11,VE,MAR,MIA,0.0,3.0,MAR,...,0,477859,2013-08-30,MAR,MIA,NaN,NaN,NaN,NaN,0
151613,2013-06-01,16:15:52,MPT,3561a60621de06ab1badc8ca55699ef3,US,KCH,WUH,1.0,2.0,KCH,...,NYC,151613,2013-06-01,KCH,WUH,NaN,NaN,NaN,NaN,0
533762,2013-10-25,01:32:32,FQD,71d7e235af48506bc12149d78ffd6a34,US,SAC,SEA,1.0,2.0,SAC,...,0,533762,2013-10-25,SAC,SEA,NaN,NaN,NaN,NaN,0
445709,2013-07-29,15:07:50,MPT,abad92d5dd1f2cea8748bb2013a92ccb,GB,LGW,AMS,1.0,2.0,LGW,...,LON,445709,2013-07-29,LGW,AMS,NaN,NaN,NaN,NaN,0
119194,2013-04-30,18:49:46,MPT,d2f79dd4bfe0e15c5a14ce39891d9541,GR,MOW,KIV,1.0,2.0,MOW,...,ATH,119194,2013-04-30,MOW,KIV,NaN,NaN,NaN,NaN,0
348522,2013-12-15,09:18:32,FXX,e2426576e6f57a7dd75779983d8e50bd,DE,FRA,AUH,1.0,2.0,FRA,...,0,348522,2013-12-15,FRA,AUH,NaN,NaN,NaN,NaN,0
591781,2013-12-22,11:14:23,FXX,012cb69963e9dd6889901512d4e414f0,MX,MEX,SJO,1.0,4.0,MEX,...,0,591781,2013-12-22,MEX,SJO,NaN,NaN,NaN,NaN,0

### hemos asignado 0 a NaN y 1 cuando ha habido booking.Ahora debemos hacer drop con las columnas que hemos utilizado y dejar la nueva 'Booked'.